@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-dark-purple: #0a0418;
  --color-dark: #070016;
  --color-purple-bento: #110729;
  --color-amethyste: #1d0462;
  --color-purple: #4b27ae;
  --color-ultraviolet-900: #8f5eee;
  --color-ultraviolet-800: #d7c5f9;
  --color-ultraviolet-700: #ede5fc;
  --color-ultraviolet-600: #fbf9fe;

  --font-mansfield: "Mansfield", sans-serif;
  --font-stara: "Stara", sans-serif;
}

@layer base {
  @font-face {
    font-family: "Mansfield";
    font-weight: 300;
    src: url("/fonts/mansfield/Mansfield-Light.ttf") format("truetype");
  }

  @font-face {
    font-family: "Mansfield";
    font-weight: 500;
    src: url("/fonts/mansfield/Mansfield-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Mansfield";
    font-weight: 600;
    src: url("/fonts/mansfield/Mansfield-Semi-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Mansfield";
    font-weight: 700;
    src: url("/fonts/mansfield/Mansfield-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Stara";
    font-weight: 700;
    src: url("/fonts/stara/Stara-Bold.otf") format("opentype");
  }

  @font-face {
    font-family: "Stara";
    font-weight: 600;
    src: url("/fonts/stara/Stara-SemiBold.otf") format("opentype");
  }
}
